.give-up-lending {
    .reason {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.noActive {
    min-width: 210px;
    min-height: 65px;    
}

input[type=date] {
    width: 158px;
}

.jdbui-select{
    min-width: 80px;
}


